<div class="main">
  <div class="content p-3 d-flex align-items-center justify-content-around">
    <div class="d-flex flex-column align-items-center miau-skin">
      <img src="assets/images/spa-miau.png" alt="" />
      <h3>Miau Skin</h3>
    </div>

    <div class="social d-flex justify-content-between flex-column">
      <a
        target="_blank"
        href="https://wa.me/3875742926"
        class="wpp d-flex align-items-center gap-3"
      >
        <i class="fa-brands fa-whatsapp"></i>
        <span>WhatsApp</span>
      </a>
      <a
        target="_blank"
        href="https://instagram.com/miau_skin?igshid=YmMyMTA2M2Y="
        class="ig d-flex align-items-center gap-3"
      >
        <i class="fa-brands fa-instagram"></i>
        <span>Instagram</span>
      </a>
      <a
        target="_blank"
        href="https://www.facebook.com/Miau-Skin-108941861779859"
        class="ig d-flex align-items-center gap-3"
      >
        <i class="fa-brands fa-facebook-f"></i>
        <span>Facebook</span>
      </a>
    </div>
  </div>
</div>
