<div class="main">
  
  <div class="header" [ngStyle]="{height: height + 'px'}">
    <div class="logo">
      <img src="assets/images/logo.png" alt="">
    </div>
    <div class="d-flex justify-content-center align-items-center cat">

      <img src="assets/images/miau2.jpeg" alt="">
    </div>
    <div class="d-flex align-items-center justify-content-center marks">
      <img src="assets/images/exel.png" alt="">
      <img src="assets/images/idraet.png" alt="">
      <img src="assets/images/lidherma.png" alt="">
    </div>
  </div>

  <div class="body">
      <div class="products" *ngFor="let i of [1, 2, 3, 4, 5, 6]" >
        <app-product></app-product>
      </div>
    
  </div>

  <div class="footer">
    footer
  </div>
</div>
