.main:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
  
.main {
    width: 250px;
    height: 300px;
    border-radius: 25px;
    background-color: #f6f5f2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;

    .img {
        width: 65%;
        height: 175px;
        // border: 1px solid #ccc;
        img {
            border-radius: 10px;
            height: 100%;
        }
    }

    .title {
        font-size: larger;
        font-weight: bold;

    }
    .price {
        font-size: large;
    }
}